.content {
    display: flex;
    flex-wrap: wrap;
}
.nav-links {
    display: none;
}

header {
    display: flex;
    width: 100%;
    background-color: yellow;
    min-height: 100px;
}
h1{
    position: absolute;
    top: 10px;
    width: 100%;
    font-family: sans-serif;
    font-size: 4em;
}

main {
    padding-top: 40px;
}

.row {
    display: flex;
    width: 100%;
}

.row section: first-child, {
    width: 300px;
}